<?xml version="1.0" ?>
<robot name="youbot">

    <webots>
        <device reference="camera" type="Camera">
            <ros>
                <enabled>true</enabled>
                <topicName>/camera</topicName>
                <scanRate>10</scanRate>
                <updateRate>10</updateRate>
                <alwaysOn>true</alwaysOn>
                <frameName>camera_frame</frameName>
            </ros>
        </device>
        <device reference="camera_1" type="Camera">
            <ros>
                <enabled>true</enabled>
                <topicName>/camera_1</topicName>
                <scanRate>10</scanRate>
                <updateRate>10</updateRate>
                <alwaysOn>true</alwaysOn>
                <frameName>camera_1_frame</frameName>
            </ros>
        </device>
        <device reference="lidar" type="Lidar">
            <ros>
                <enabled>true</enabled>
                <topicName>/scan</topicName>
                <scanRate>10</scanRate>
                <updateRate>10</updateRate>
                <alwaysOn>true</alwaysOn>
                <frameName>laser_frame</frameName>
            </ros>
        </device>  
        <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>True</enabled>
            <topicName>/imu</topicName>
            <updateRate>10</updateRate>
            <!-- If `True`, the device topics will constantly publish, which can slow down the simulation. -->
            <!-- By default the topics are publishing only if there is at least one subscriber for the corresponding topic. -->
            <alwaysOn>True</alwaysOn>
            <frameName>base_link</frameName>
            <!-- Indicates the name of the inertial unit device. -->
            <inertialUnitName>inertial_unit</inertialUnitName>
            <!-- Indicates the name of the gyro device. -->
            <gyroName>gyro</gyroName>
            <!-- Indicates the name of the accelerometer device. -->
            <accelerometerName>accelerometer</accelerometerName>
        </plugin>

        <plugin type="yb_controller.drivers.yb_driver.YouBotDriver" />
        <plugin type="yb_controller.drivers.mnp_driver.ManipulatorDriver" />
        <plugin type="yb_controller.drivers.gripper_driver.GripperDriver" />

    </webots>
</robot>